.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 60px;
}

.register_title {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: rgb(61, 121, 161);
}

.register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}